.notification {
    width: 100%;
    height: 100%;
    opacity: 0;

    transform-origin: right;
    -webkit-animation: notify 3s ease-in-out linear;
    animation: notify 3s ease-in-out linear;

    display: flex;
    align-items: center;
    padding-left: 16px;
    color: #3E516C;
}

.notification.animate {
    opacity: 1;
}

.notification.connection { background-color: #ADD6A5; }
.notification.disconnection { background-color: #B87C82; }
.notification.alert { background-color: #FFD6B2; }


@-webkit-keyframes notify {
    0% { transform: scaleY(0); opacity: 0; }
    48% { transform: scaleY(1); opacity: 0.5; }
    64% { transform: scaleY(1); opacity: 0.75; }
    100% { transform: scaleY(1); opacity: 1; }
}

@keyframes notify {
    0% { transform: scaleY(0); opacity: 0; }
    48% { transform: scaleY(1); opacity: 0.5; }
    64% { transform: scaleY(1); opacity: 0.75; }
    100% { transform: scaleY(1); opacity: 1; }
}