/* Game page */

.gameContainer {
  height: 100vh;
  width: 100%;
  
  background-color: #F9FAFB;
}

.gameArea {
  height: 100%;
  padding-bottom: 56px;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
  
.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}
  
/* Input */


.cards {
  height: 100%;
  width: 72%;
  display: flex;
  align-items: center;
  justify-content: space-between;    
}

.card {
  /* Add shadows to create the "card" effect */
  height: 72%;
  width: 24%;
  box-shadow: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.24));  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;    
  background-color: #3E516C;
  border: none;
  color: #F9FAFB;
  cursor: pointer;
  border-radius: 4px;
}


/* On mouse-over, add a deeper shadow */
.card:hover,
.card.selected {  
  background-color: #3B4751;
}

.card-text {
  font-size: 24px;
  font-weight: bold;
}

.btn {
  height: 50px;
  min-width: 150px;
  border: 2px;
  border-radius: 4px;
  color: #F9FAFB;
  background-color: #FFC490;
  cursor: pointer;
  font-size: 32px;
  padding-top: 5px;
  padding-bottom: 5px;  
  transition: 0.5s;
}

.btn:hover {
  background-color: #eca96f;
}

.btn.active {
  background-color: #92B78B;
}

/* Score section */
.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score.player1, 
.score.player2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
}

.player1-icon,
.player2-icon {
  background: #92B78B;
  border-radius: 50%;
  color: #98686D;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.75em;
  height: 1.75em;
  font-size: 2.75em;
}

.player1-name,
.player2-name {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  color: #3E516C;
}

.score > .points {
  color: #3E516C;
  font-size: 24px;
  font-weight: bold;
  margin-left: 24px;
  margin-right: 24px;
}

.notification-wrapper {
  position: absolute;
  left: 0;
  height: 8%;
  width: 20%;
  margin-top: 5%;
  margin-left: 76%;
}