.loginContainer {
    background-color: #000;
    height: 100vh;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.loginContainer .form {
    height: 100px;
    margin-top: -100px;

    text-align: center;
    top: 50%;
    width: 100%;
}

.loginContainer .form .loginInputItem {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    width: 400px;
}

.loginContainer .title {
    font-size: 200%;
}

.loginContainer .loginInputItem {
    font-size: 200%;
    letter-spacing: 3px;
}

.loginContainer .title {
    color: #fff;
}

.loginInputContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.loginInputItem {
    color: #000;
    font-weight: 100;
    margin-top: 1%;
    margin-bottom: 1%;
}


.loginButton {
    background-color: #ffffff;
	color: #666666;
	font-size: 16px;
	font-weight: bold;
    height: 50px;
    width: 140px;
    text-align: center;
    margin-top: 24%
}

.loginButton:hover {
	background-color:#f6f6f6;
}

.loginButton:active {
	top: 1px;
}
